<p id="notice"><%= notice %></p>

<h1>Listing Event Status Types</h1>

<table>
  <thead>
    <tr>
      <th>Is active</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_status_types.each do |event_status_type| %>
      <tr>
        <td><%= event_status_type.is_active %></td>
        <td><%= event_status_type.name %></td>
        <td><%= link_to 'Show', event_status_type %></td>
        <td><%= link_to 'Edit', edit_event_status_type_path(event_status_type) %></td>
        <td><%= link_to 'Destroy', event_status_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event status type', new_event_status_type_path %>
